@import '../styles/variables';

.day-events {

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .day-title {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: bold;
    }

}

.events-card {
    padding: 0 20px;

    .event-row {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 10% 75% 15%;

        &:not(:last-child) {
            border-bottom: 1px solid $GREY;
        }

        .hour {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 22px;
                font-weight: 500;
            }
        }

        .content {
            padding-left: 20px;

            .free-event {
                color: $GREEN;
                font-weight: bold;
            }

            .event-details {
                display: flex;
                align-items: center;

                i {
                    margin-right: 5px;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                &.sign-up {
                    background: $BLUE;
                    color: #fff;
                }
            }
        }
    }
}

.react-modal {
    .react-modal-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        background: $LIGHT_GREY;
        border-bottom: 1px solid $GREY;

        .close-btn {
            position: absolute;
            right: 15px;
            background: transparent;
            border: none;
        }
    }

    .react-modal-body {
        padding: 0 15px;
        margin: 30px 0;
    }

    .react-modal-footer {
        padding: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;

        .btn {
            width: 120px;
            background: $BLUE;
            color: #fff;
        }
    }
}