@import '../styles/variables';

.day-events {

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .day-title {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: bold;
    }
}

.events-card {
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.125);
    background: #fff;
    border-radius: 6px;

    .row.event {
        margin-right: 0;
        margin-left: 0;
    }

    .event {
        padding: 20px 0;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }

    .hour {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: 22px;
            font-weight: 500;
        }
    }

    .content {
        padding-left: 20px;

        .free-event {
            color: $GREEN;
            font-weight: bold;
        }

        .event-details {
            display: flex;
            align-items: center;

            i {
                margin-right: 5px;
            }
        }

        @media screen and (max-width: $TABLET) {
            text-align: center;
            margin: 20px 0;

            .event-details {
                justify-content: center;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            &.sign-up {
                background: $BLUE;
                color: #fff;
            }
            &.sign-down {
                background: $RED;
                color: #fff;
            }
        }
    }
}

.react-modal {
    .react-modal-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        background: $LIGHT_GREY;
        border-bottom: 1px solid $GREY;

        .close-btn {
            position: absolute;
            right: 15px;
            background: transparent;
            border: none;
        }
    }

    .react-modal-body {
        padding: 0 15px;
        margin: 30px 0;
    }

    .react-modal-footer {
        padding: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;

        .btn {
            width: 120px;
            background: $BLUE;
            color: #fff;
        }
    }
}

.no-events {
    width: 100%;
    height: calc(100vh - (80px + 3rem));
    display: flex;
    justify-content: center;
    align-items: center;
}