@import '../styles/variables';

.filters-box {
    padding: 0 15px;
    width: 100%;
}

.filters-row {
    width: 100%;
    position: relative;
    display: flex;
    align-items: baseline;

    .tf-name,
    .fc-select-time,
    .btn {
        min-width: 220px;

        @media screen and (max-width: $DESKTOP) {
            min-width: 180px;
        }

        @media screen and (max-width: $TABLET) {
            width: 50%;
        }

        @media screen and (max-width: $MOBILE) {
            width: 80%;
        }
    }

    @media screen and (max-width: $TABLET) {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 40px 20px;
        background: #fff;
        border: 2px solid rgba(0,0,0,.25);
    }

    .tf-name {
        height: 45px;
        margin-right: 20px;

        @media screen and (max-width: $TABLET) {
            margin-right: 0;
        }
    }

    .fc-select-time {
        height: 45px;

        @media screen and (max-width: $TABLET) {
            margin: 20px 0 30px;
        }
    }

    .btn {
        position: absolute;
        right: 0;
        bottom: 5px;

        @media screen and (max-width: $TABLET) {
            position: relative;
            right: 0;
        }
    }

    .btn-free {
        background: $GREEN;
        color: #fff;

        &:hover {
            background: $GREEN;
        }
    }
}